<aside id="menu" <% if((is_post() || page.layout==='page' ) && theme.hideMenu){ %>class="hide"
    <% } %> >
    <div class="inner flex-row-vertical">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
            <i class="icon icon-lg icon-close"></i>
        </a>
        <div class="brand-wrap" style="background-image:url(<%- url_for(theme.brand) %>)">
            <div class="brand">
                <a href="<%- url_for(theme.avatar_link) %>" class="avatar waves-effect waves-circle waves-light">
                    <img src="<%- url_for(theme.avatar) %>">
                </a>
                <hgroup class="introduce">
                    <h5 class="nickname">
                        <%- config.author %>
                    </h5>
                    <%- mail_to(theme.email, theme.email, {class: 'mail'}) %>
                </hgroup>
            </div>
        </div>
        <div class="scroll-wrap flex-col">
            <!-- <a target="_blank" class="ad_left" href="<%- url_for(theme.ad_left.url) %>">
                <img src="<%- url_for(theme.ad_left.img) %>" alt="<%- url_for(theme.ad_left.alt) %>">
            </a> -->
            <ul class="nav">
                <%
          var menuItem, isActive = function(item) {
              var pageUrl = url_for(page.path)
              return item.url === '/' ? pageUrl === url_for(item.url + 'index.html') : _.startsWith(pageUrl, url_for(item.url))
          };
          for (var i in theme.menu) {
            menuItem = theme.menu[i];
          %>
                <li class="waves-block waves-effect<% if(isActive(menuItem)){ %> active<% } %>">
                    <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target){ %>target="_blank"
                        <% } %> >
                        <i class="icon icon-lg icon-<%= i %>"></i>
                        <%=(menuItem.text || _.startCase(i)) %>
                    </a>
                </li>
                <% } %>

                <!-- <li class="ad-qrcode">
                    <img src="<%- url_for(theme.adleft) %>">
                </li> -->
                <li class="ad-qrcode">
                    <img src="https://user-images.githubusercontent.com/22697565/47767553-1d435500-dd0f-11e8-99ea-63cc43444e5c.jpg">
                </li>


            </ul>

        </div>
    </div>
</aside>
