<canvas id="evanyou" width="1302" height="678" style="position: fixed;width: 100%;height: 100%;top: 0;left:0;z-index:-1;"></canvas>
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemprop="blogPost">
  <header class="article-header">
    <h1 class="post-title"><%= post.title || '(no title)' %></h1>

    <div class="article-meta">
      <span>
        <i class="icon-calendar"></i>
        <span><%= date(post.date, 'YYYY.MM.DD') %></span>
      </span>

      <% if (config.author){ %>
        <span class="article-author">
          <i class="icon-user"></i>
          <span><%= config.author %></span>
        </span>
      <% } %>

      <%- partial('component/category') %>

      <% if (theme.disqus_shortname && theme.url && page.comments){ %>
        <span>
          <i class="icon-comment"></i>
          <a href="<%= theme.url + url_for(page.path) + '#disqus_thread' %>"></a>
        </span>
      <% } %>


    </div>
  </header>

  <div class="article-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
</article>

<!-- 使用Gitmemt作为评论系统 -->
<%- partial('gitment') %>

<button class="assist-btn2 circle" id="assist_btn2" title="点亮屏幕" style="left: 27px; top: 152px;">
         <i class="iconfont" style="display:inline-block;color:red;width:20px;height:20px;">&#xe61d;</i>
    </button>
<button class="assist-btn1 circle" id="assist_btn1" title="关闭屏幕亮度" style="left: 27px; top: 152px;">
         <i class="iconfont toc-title" style="display:inline-block;color:red;width:20px;height:20px;">&#xe61d;</i>
    </button>
	

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>	
<script type="text/javascript">


    // white theme
    var body = {color: "#555", background: "#000"};
    var a_tag = {color: "#222"};
    var header = { background: "#222"};
    var logo_line_i = {background: "#222"};
    // var post_code = {background: "#eee", color: "#222"};

    function switch_theme() {
        $("body").css(body);
        $("a:not('.links-of-author-item a, .site-state-item a, .site-state-posts a, .feed-link a, .motion-element a, .post-tags a, .show-commit-cls a, #donate_board a')").css(a_tag);
        $(".header, .footer").css(header);
        $(".logo-line-before i, .logo-line-after i").css(logo_line_i);
        //$(".post code").css(post_code);
        $("#idhyt-surprise-ball #idhyt-surprise-ball-animation .drag").css(a_tag);
        $(".post-title-link, .posts-expand .post-meta, .post-comments-count, .disqus-comment-count, .post-category a, .post-nav-next a, .post-nav-item a").css(a_tag);
        
        // $("code").css({color: '#c5c8c6', background: '#1d1f21'});
        //$("#assist_btn1").hide(1500);
    }

    $(function () {
		$("#assist_btn2").css("display","none");
        $("#assist_btn1").click(function() {
            switch_theme();
			$("div#toc.toc-article").css({
				"background":"#eaeaea",
				"opacity":1
			});
			$(".toc-article ol").show();
			$("#toc.toc-article .toc-title").css("color","#a98602");
			$("#assist_btn1").css("display","none");
			$("#assist_btn2").css("display","block");
        });
		$("#assist_btn2").click(function() {
			$("#assist_btn2").css("display","none");
			$("#assist_btn1").css("display","block");
			 $("body").css("background","url(http://www.miaov.com/static/ie/images/news/bg.png)")
            $(".header, .footer").css("background","url(http://www.miaov.com/static/ie/images/news/bg.png)")
			$(".toc-article ol").toggle(1000);
        });
    });

	
	//背景随机

	var Y, O, E, L, B, C, T, z, N, S, A, I;
	!function() {
	var e = function() {
		for (O.clearRect(0, 0, L, B), T = [{
			x: 0,
			y: .7 * B + C
		}, {
			x: 0,
			y: .7 * B - C
		}]; T[1].x < L + C;) t(T[0], T[1])
	}, t = function(e, t) {
			O.beginPath(), O.moveTo(e.x, e.y), O.lineTo(t.x, t.y);
			var n = t.x + (2 * I() - .25) * C,
				r = a(t.y);
			O.lineTo(n, r), O.closePath(), N -= S / -50, O.fillStyle = "#" + (127 * A(N) + 128 << 16 | 127 * A(N + S / 3) + 128 << 8 | 127 * A(N + S / 3 * 2) + 128).toString(16), O.fill(), T[0] = T[1], T[1] = {
				x: n,
				y: r
			}
		}, a = function n(e) {
			var t = e + (2 * I() - 1.1) * C;
			return t > B || t < 0 ? n(e) : t
		};
	Y = document.getElementById("evanyou"), O = Y.getContext("2d"), E = window.devicePixelRatio || 1, L = window.innerWidth, B = window.innerHeight, C = 90, z = Math, N = 0, S = 2 * z.PI, A = z.cos, I = z.random, Y.width = L * E, Y.height = B * E, O.scale(E, E), O.globalAlpha = .6, document.onclick = e, document.ontouchstart = e, e()
	}()

          



</script>
