
<canvas id="canvas" style="position:absolute;width:100%;height:100%;background:#000;"></canvas>
<div class="content-home text-center" style="background:#000;">
  <a class="avatar" href="/">
    <img src="<%= theme.avatar %>" alt="" />
  </a>
  <h1 class="name" style="font-family: <%= theme.blog_name_font_familiy || 'calligraffittiregular' %>">
    <%= theme.blog_name %>
  </h1>
  <div class="slogan">
    <%= theme.slogan %>
  </div>

  <hr>

  <ul class="text-center nav">
    <% theme.home_nav.forEach(function(item, i){ %>
      <li class="item">
        <% if(item.target_blank === true) { %>
          <a href="<%= item.url %>" rel="noopener noreferrer" target="_blank"><%= item.name %></a>
        <% } else { %>
          <a href="<%= item.url %>"><%= item.name %></a>
        <% } %>
        <span>|</span>
      </li>
    <% }) %>
  </ul>
	
</div>
<p style="text-align:center;position:absolute;bottom:0px;left:50%;"><script type="text/javascript" src="http://tajs.qq.com/stats?sId=59154049" charset="UTF-8"></script></p>

	
<script>
window.requestAnimFrame = ( function() {
  return window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    function( callback ) {
    window.setTimeout( callback, 1000 / 60 );
  };
})();

var can = document.getElementById('canvas');
var cxt = can.getContext('2d');
can.width = window.screen.width;
can.height = window.screen.height;
var size = 14; //字体大小
var cols = can.width / size; //多少列数字
var y = []; 
for (var i=0;i<cols;i++ )y[i] = 0;//存储每列数字的y坐标
			
(function draw(){
  cxt.fillStyle = 'rgba(0,0,0,.1)';
  cxt.fillRect(0,0,can.width,can.height);  //每次都画一个0.1透明度的遮盖层
  cxt.fillStyle = '#33ff00';
  cxt.font = 'bold '+size+'px Microsoft yahei'; //规定字体样式
  for (var i=0;i<cols;i++ ) //循环给每一行添加数组
  {
    var s = Math.floor( Math.random()*10 )+''; //生成一个0~9随机数
    var textX = i*size; // 文字x坐标
    var textY = y[i]; //文字 y坐标
    cxt.fillText(s,textX,textY); // 绘制文字
    y[i] += size; // y坐标逐渐增加
    if ( y[i] >= can.height && Math.random() >= 0.9 )
    {
      y[i] = 0;
    };//y坐标到头之后回0，Mat.random()的作用是让每一行不一定同时回去
  }
  requestAnimFrame(draw);
})()		  		
</script>
